<section class="phx-hero">
  <h2 class="text-success">Welcome to <b>GithubMentions</b></h2>
  <p>Monitor and manage mentions on Github for your organization</p>
</section>

<section class="row">
</section>
